# JUCE Build
build/
*.sln
*.vcxproj*
*.user
*.opensdf
*.sdf

# JUCE binary data
*.vst3
*.dll
*.exe
*.obj
*.lib
*.pdb

# JUCE-generated intermediates
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# VSCode
.vscode/
